# importing Dependences

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
#loading the dataset to a pandas dataframe
credit_card_data=pd.read_csv("creditcard.csv")

In [6]:
#printing the head rows of dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
#information about the dataset for preprocessing
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
#checking the no. of missing values in each coloumns
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
#distribution of legit transaction and fraudulent transaction
credit_card_data["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [15]:
 #balancing the dataset,highly unbalanced
 #seperating the data fro analysis 
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [16]:
#statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [20]:
#compare the value for both of these class transaction
credit_card_data.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [21]:
#under sampling dataset containing similar distribution of normal transactions and fraudulent transaction
#number of fraudulent transaction==492
legit_sample=legit.sample(n=492)

In [22]:
#concatenating the two dataframe
new_dt=pd.concat([legit_sample,fraud],axis=0)

In [56]:
new_dt.head()
print(new_dt)

            Time        V1        V2        V3        V4        V5        V6  \
43778    41649.0 -2.826627 -3.561450  0.364523 -0.929396 -4.018904  1.784595
221961  142765.0  2.049410 -0.001961 -1.758208  0.269334  0.514903 -0.696103
217684  140989.0  2.105800 -0.086752 -1.643513 -0.072565  0.765531  0.166049
235736  148520.0  1.850967 -0.112244 -0.156440  1.262738 -0.395446 -0.198625
90589    63081.0 -0.641310  0.374037  0.853615 -0.937166 -0.639868 -0.414852
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V21       V22       V23  \
43778   4.155448 -0.179782 -1.664639  ...  0.388952 -0.728011  2.720589
221961  0.395437 -0.226053  0.319023  ...  0.042224  0.301817  0.063994
217684  0.050450 -0.063662  0.233641  ... -0.305850 -0.783076  0.221551
235736 -0.340530  0.029426  0.425190  ... -0.126423 -0.275402  0.359775
90589  -0.012171  0.316850 -2.206741  ... -0.160482 -0.208842  0.007557
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  0.778584 -0.319189  0.639419
280143 -1.413170  0.248525 -1.127396  ...  0.370612  0.028234 -0.145640
280149 -2.234739  1.210158 -0.652250  ...  0.751826  0.834108  0.190944
281144 -2.208002  1.058733 -1.632333  ...  0.583276 -0.269209 -0.456108
281674  0.223050 -0.068384  0.577829  ... -0.164350 -0.295135 -0.072173

             V24       V25       V26       V27       V28   Amount  Class
43778  -0.139970  0.668808  0.897049 -0.469746  0.133367  1262.00      0
221961  0.789567  0.346857 -0.276131 -0.044210 -0.069986     1.00      0
217684 -0.331856 -0.141428  0.208670 -0.076259 -0.072417     1.98      0
235736 -0.032133 -0.414067 -1.006501  0.055421 -0.028465    29.97      0
90589   0.073274 -0.343843  1.075923 -0.072373  0.031020    52.03      0
...          ...       ...       ...       ...       ...      ...    ...
279863 -0.294885  0.537503  0.788395  0.292680  0.147968   390.00      1
280143 -0.081049  0.521875  0.739467  0.389152  0.186637     0.76      1
280149  0.032070 -0.739695  0.471111  0.385107  0.194361    77.89      1
281144 -0.183659 -0.328168  0.606116  0.884876 -0.253700   245.00      1
281674 -0.450261  0.313267 -0.289617  0.002988 -0.015309    42.53      1

[984 rows x 31 columns]

In [24]:
new_dt["Class"].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [25]:
new_dt.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94566.060976,-0.085988,-0.095085,-0.127431,0.049401,0.134484,0.002050,-0.006583,-0.107034,-0.030739,...,0.042781,-0.037570,-0.009160,0.065286,0.060636,0.015953,-0.001687,-0.003473,-0.038761,99.738171
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [26]:
#spliting the dtaa into features and target
X=new_dt.drop(columns="Class",axis=1)
Y=new_dt["Class"]

In [27]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
43778    41649.0 -2.826627 -3.561450  0.364523 -0.929396 -4.018904  1.784595
221961  142765.0  2.049410 -0.001961 -1.758208  0.269334  0.514903 -0.696103
217684  140989.0  2.105800 -0.086752 -1.643513 -0.072565  0.765531  0.166049
235736  148520.0  1.850967 -0.112244 -0.156440  1.262738 -0.395446 -0.198625
90589    63081.0 -0.641310  0.374037  0.853615 -0.937166 -0.639868 -0.414852
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
43778   4.155448 -0.179782 -1.664639  ...  2.282740  0.388952 -0.728011
221961  0.395437 -0.226053  0.319023  ... -0.239714  0.042224  0.301817
217684  0.050450 -0.063662  0.233641  ... -0.101037 -0.305850 -0.783076
235736 -0.340530  0.029426  0.425190  ... -0.141008 -0.126423 -0.275402
90589  -0.012171  0.316850 -2.206741  ... -0.222651 -0.160482 -0.208842
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28   Amount
43778   2.720589 -0.139970  0.668808  0.897049 -0.469746  0.133367  1262.00
221961  0.063994  0.789567  0.346857 -0.276131 -0.044210 -0.069986     1.00
217684  0.221551 -0.331856 -0.141428  0.208670 -0.076259 -0.072417     1.98
235736  0.359775 -0.032133 -0.414067 -1.006501  0.055421 -0.028465    29.97
90589   0.007557  0.073274 -0.343843  1.075923 -0.072373  0.031020    52.03
...          ...       ...       ...       ...       ...       ...      ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968   390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637     0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361    77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700   245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309    42.53

[984 rows x 30 columns]

In [28]:
print(Y)

43778     0
221961    0
217684    0
235736    0
90589     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [29]:
#split the dtaa into training and testing data


X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [32]:
print(X.shape,X_train.shape)

(984, 30) (787, 30)

In [33]:
#MODEL TRAINING

In [37]:
#LOGISTIC REGRESSION

model=LogisticRegression()

In [41]:
#training the logistic Regression model with training data

model.fit(X_train, Y_train)

LogisticRegression()

In [39]:
#MODEL EVALUATION

In [40]:
#ACCURACY SCORE

In [44]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [46]:
print("ACCURACY ON TRAINING DATA:",training_data_accuracy*100)

ACCURACY ON TRAINING DATA: 91.23252858958068

In [54]:
#accuracy of test data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [55]:
print("ACCURACY SCORE ON TEST DATA:",test_data_accuracy*100 )

ACCURACY SCORE ON TEST DATA: 90.86294416243655

In [51]:
print(X_test_prediction)

[1 0 0 0 1 0 1 1 0 1 0 1 1 0 0 1 0 1 0 0 0 0 0 1 0 1 1 0 1 0 0 1 0 1 1 0 0
 0 0 1 1 0 0 1 1 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 1 1 1 0 1 0 0 1 0 0 0 0
 1 1 0 1 1 1 0 1 1 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 1 1 1 1 0 1 0 0 0 0 0 0
 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 1 0 1 0 1 0 1 0 0 1 1 0 1 1 0
 1 0 1 0 1 1 0 0 1 1 0 0 0 1 0 1 1 0 0 1 0 1 1 0 1 1 0 0 0 0 0 0 0 1 1 0 1
 0 0 0 0 0 1 1 0 1 1 1 0]